<script lang="ts">
  import { navigate } from "svelte-navigator";

  let alola = "regions/alola.png";
  let galar = "regions/galar.png";
  let hoenn = "regions/hoenn.png";
  let johto = "regions/johto.png";
  let kalos = "regions/kalos.png";
  let kanto = "regions/kanto.png";
  let sinnoh = "regions/sinnoh.webp";
  let unova = "regions/unova.webp";
</script>

<main>
  <h1>Pokemon Match, the best place for Pokemon battles!</h1>
  <p>
    Pick the Pokemon and the moves you want to use, pick your opponent and it's
    moves and <strong>fight!</strong>
  </p>
  <div class="locations">
    <div>
      <img
        src={alola}
        alt="regions/alola.png"
        on:click={() => navigate("/alola")}
      />
    </div>

    <div>
      <img
        src={galar}
        alt="regions/galar.png"
        on:click={() => navigate("/galar")}
      />
    </div>

    <div>
      <img
        src={hoenn}
        alt="regions/hoenn.png"
        on:click={() => navigate("/hoenn")}
      />
    </div>
    <div>
      <img
        src={johto}
        alt="regions/johto.png"
        on:click={() => navigate("/johto")}
      />
    </div>
    <div>
      <img
        src={kalos}
        alt="regions/kalos.png"
        on:click={() => navigate("/kalos")}
      />
    </div>
    <div>
      <img
        src={kanto}
        alt="regions/kanto.png"
        on:click={() => navigate("/kanto")}
      />
    </div>
    <div>
      <img
        src={sinnoh}
        alt="regions/sinnoh.webp"
        on:click={() => navigate("/sinnoh")}
      />
    </div>
    <div>
      <img
        src={unova}
        alt="regions/unova.webp"
        on:click={() => navigate("/unova")}
      />
    </div>
  </div>
</main>

<style>
  .locations {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    align-content: center;
    justify-content: center;
  }

  img {
    width: 300px;
    height: 300px;
  }

  img:hover {
    cursor: pointer;
  }
</style>
