<script lang="ts">
    function getLocation(location: number) {
        return fetch(`https://pokeapi.co/api/v2/location-area/${location}/`)
            .then((response) => response.json())
            .then((location) => {
                console.log(location)
            })
            .catch((error) => console.error(error));
    }

    export let region;
</script>

<main>
    Hallo en welkom in {region}
</main>
