<script lang="ts">
  import TopAppBar, { Row, Section, Title } from '@smui/top-app-bar'
</script>

<div>
  <TopAppBar
    variant="static"
    color='primary'
  >
    <Row>
      <Section>
        <Title>Pokemon Match</Title>
      </Section>
    </Row>
  </TopAppBar>
</div>
