<script lang="ts">
  import { Router, Route } from "svelte-navigator";
  import Region from "./views/Region.svelte";
  import NavBar from "./components/NavBar.svelte";
  import Home from "./views/Home.svelte";
</script>

<Router>
  <NavBar />
  <Route path="/">
    <Home />
  </Route>
  <Route path="/:region" let:params>
    <Region region={params.region} />
  </Route>
</Router>
